{% extends 'base.html' %}
{% block title %}
About Us
{% endblock title%}

{% block body %}
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3 ">About Us</h1>
    <p>Food Paradise Foods Pvt. Ltd, the name came into being in 2009 when the idea of opening a chain of restaurants
      which would serve healthy fast food. The dream became reality when establishment of the cornerstone for first
      branch outlet in 'india Corner' in the same year. The enormous success of restaurant 'india Corner' was the
      delicious proof of the brand to reach heights and it was only a matter of time for the establishment of subsequent
      outlets</p>
    <p><a class="btn btn-primary btn-lg my-2" href="/shop/faq/" role="button">FAQ &raquo;</a></p>
  </div>
</div>

<!-- for 3 sliders -->
<div class="col-12 d-flex flex-row justify-content-center">
  <div class="row">
    <div class="col-lg-4" style="padding: 60px;">
      <img src="/static/ab1.png" class="rounded-circle" alt="" width="180" height="180">
      <h2>Divine marty</h2>
      <p>Director of Operations.</p>
      <div class ="container"><button type ="button" class="btn btn-secondary">Read more</button></div>
    </div>



    <div class="col-lg-4" style="padding: 60px;">
      <img src="/static/ab2.png" class="rounded-circle" alt="" width="180" height="180">
      <h2>Rose nileni</h2>
      <p>Restaurant forecasting management.</p>
      <div class ="container"><button type ="button" class="btn btn-secondary">Read more</button></div>
    </div>


    <div class="col-lg-4" style="padding: 60px;">
      <img src="/static/about.jpg" class="rounded-circle" alt="" width="180" height="180">
      <h2>Panther K</h2>
      <p>Service and pricing coordinator.</p>
      <div class ="container"><button type ="button" class="btn btn-secondary">Read more</button></div>
    </div>

  </div><!-- /.row -->
</div>

<!-- </div> -->



{% endblock body %}