{% extends 'base.html' %}
{% block title%} FAQ {% endblock %}

{% block body %}
<h1 class="text-center my-4">FAQ about our restaurant</h1><br>
<div class="media text-center my-4">
    <div class="media-body">
        <h5 class="mt-0"><strong>Q.: I have particular food restriction, am I able to have a meal?</strong></h5><br>
        > A.: For sure! We will be glad to help you and propose dishes that may be suitable for you.
        <p>&nbsp;</p>
        <h5 class="mt-0"><strong>Q.: I would like to organise a meal&nbsp; for a party, how can I do it?</strong></h5><br>
        > A.: Please contact us,&nbsp; telling us all your requirements we will revert with our best offer <br />Phone +91.901234578 e-mail info@restaurantFoodParadise.com
        <p>&nbsp;</p>
        <h5 class="mt-0"><strong>Q.:  Which are your specialities</strong></h5><br>
        > A.: We have a full range menu from starters to maincourse,from shakes to desserts all fresh and in season.<br /> We strongly suggest our regional plates and speacial menu!
        <p>&nbsp;</p>
        <h5 class="mt-0"><strong>Q.: Do you offer non-spicy dishes as well?</strong></h5><br>
        > A.: Many Asian dishes call for very hot spices. Especially spicy dishes are marked as such on our menu.<br /> Please let us know if you do not like spicy food when ordering your meal.<br /> We are able to de-spice the dishes according to your preferences.
        <p>&nbsp;</p>
        <h5 class="mt-0"><strong>Q.: Should I make a table reservation?</strong></h5><br>
        > A.: We strongly advise to book a table although it is not compulsory, <br />especially on Week-ends which are more busy days.
        <p>&nbsp;</p>
        <h5 class="mt-0"><strong>Q.: Do you offer group discounts?</strong></h5><br>
        > A.: Rather than offer a discount to one particular group of guests, <br />we believe our responsibility is to make sure we're providing the best dining value possible to every guest
        
    </div>
</div>
{% endblock %}